# Return

The return of an asset from time $t$ to time $t+1$ is defined as

$$
R_{t+1, t} = \frac{P_{t+1} - P_{t}}{P_{t}}
$$

where the $P$ is the price of the asset and $R$ is the return.

In [2]:
def calcReturn(current_price, previous_price):
    """calculates the return of the asset
    """
    price_return = (current_price - previous_price)/(previous_price)
    return price_return

calcReturn(12, 10)

0.2

In case, we have dividends ($D$) then, the tota return is caluculates as follows:
$$
R_{t+1, t} = \frac{P_{t+1} + D_{t+1, t} - P_{t}}{P_{t}}
$$

In [3]:
(1+0.1)*(1-0.1)-1

-0.009999999999999898

## Compound Returns

The to know the total return based on return in between states is called compoud returns

$$
R_{~t+n,~ t} = (1 + R_{~t+n, ~t+n-1})(1 + R_{~t+n-1, ~t+n-2}) \dots (1 + R_{~t_2,~t_1})(1 + R_{~t_1, ~t}) - 1
$$

In [14]:
R = dict()
R["t1,t0"] = 0.05
R["t2,t1"] = 0.05
R["t3,t2"] = 0.05
R["t4,t3"] = 0.05
R["t5,t4"] = 0.05

def calcCompoundReturn(returns_dict, initial, final):    
    if initial >= final:
        raise ValueError("final time should be bigger than initial time")
    
    moving = initial
    compound_returns = 1
    while moving != final:
        compound_returns *= (1+ returns_dict["t{},t{}".format(moving+1, moving)])
        moving += 1
    compound_returns -= 1
    
    return compound_returns

calcCompoundReturn(R, 0, 5)

0.27628156250000035

## Annual Return

Suppose that the montly return of a stock share is $2\%$, the annual retrun is not $12\times2 \%$. Let see, how much is it:

In [24]:
monthly_return = 0.02
annual_return = (1 + monthly_return)**12 - 1
print("annual return: {:.1f} %".format(annual_return*100))

annual return: 26.8 %

# Returns in Pandas

In [56]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('ggplot')

In [57]:
df = pd.read_csv("./data/sample_prices.csv")
df.head()

     BLUE   ORANGE
0  8.7000  10.6600
1  8.9055  11.0828
2  8.7113  10.7100
3  8.4346  11.5907
4  8.7254  12.1070

In [58]:
returns =  df.pct_change()
returns.head()

       BLUE    ORANGE
0       NaN       NaN
1  0.023621  0.039662
2 -0.021807 -0.033638
3 -0.031763  0.082232
4  0.034477  0.044544

In [59]:
compound_returns = (1 + returns).prod() - 1
compound_returns

BLUE      0.123310
ORANGE    0.087167
dtype: float64